.wrapper {
  background-image: url("../img/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  max-width: 1200px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.body {
  font-family: 'Montserrat', sans-serif;
}

.main {

}